<%-include('../includes/header.ejs')%>
<!-- Google Maps JavaScript library -->

<link rel='stylesheet' href='/stylesheets/map.css' />
</head>
<%-include('../includes/navigation.ejs')%>

<body>

    <h1>Quand souhaitez vous partir ?</h1>
    <div class="container">
        <form method="post" action="/demander-date">
            <% if (errorMessage) { %>
                <div class="user-message user-message--error" style="margin-bottom: 20px;"><%= errorMessage %></div>
                <% } %>

            <div class="vertical-align" style="width: 100%;">
                <input required class="form-control datepick ask-date" type="text" id="datepicker" name="date" autocomplete="off" placeholder="jj/mm/aaaa">
                <div style="text-align: center;">
                    <Button type='submit' class="btn suivant">Suivant</Button>
                </div>
            </div>

            <input type='hidden' name="trajetId" value="<%=trajet._id%>">
            
        </form>
    </div>

</body>
<script>
    $('#datepicker').datepicker({
        altField: "#datepicker",
        closeText: 'Fermer',
        prevText: 'Précédent',
        nextText: 'Suivant',
        currentText: 'Aujourd\'hui',
        monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre',
            'Octobre', 'Novembre', 'Décembre'
        ],
        monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.',
            'Nov.', 'Déc.'
        ],
        dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
        dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
        weekHeader: 'Sem.',
        dateFormat: 'dd/mm/yy'
    });
</script>
<%-include('../includes/footer.ejs')%>

</html>